* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: #ffffff;
  }
  
  .whatsapp-container {
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar */
  .sidebar {
    width: 30%;
    background-color:#f58091b4;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-header {
    padding: 10px;
    background-color: #f58092;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .search-input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
  }
  
  .contact-list {
    list-style: none;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  /* Chat */
  .chat {
    width: 70%;
    background-color: #e5ddd5;
    display: flex;
    flex-direction: column;
  }
  
  /* Header do chat */
  .chat-header {
    background-color: #f58092;
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .chat-info .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  
  .chat-actions i {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    cursor: default;
  }
  
  /* Mensagem inicial */
  .chat-messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4b4b4b;
  }
  
  .chat-messages h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .chat-messages p {
    font-size: 16px;
  }
  
  /* Input */
  .chat-input {
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #ddd;
  }
  
  .chat-input button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #f58092;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .chat-input button:hover {
    background-color: #ff6e85;
  }
  .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search-btn {
    background-color: #ff8fa3;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .search-btn:hover {
    background-color: #ff6e85;
  }
  
  